body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(45,45,45,0.1);
}

.show-grid{
  border: 1px solid rgba(86,61,124,.2);
  background-color: #ffffff;
}

.grid{
    padding-top: 4em;
}

.email{
  border-bottom: 1px solid rgba(86,61,124,.2);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.email-actionable{
    background-color: #ffffe0;
}

.inbox-header{
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border-bottom: 1px solid rgba(86,61,124,.2);
  font-weight: bold;
}


.email-header{
    border-bottom: 1px solid rgba(86,61,124,.2);
    padding-bottom: 0.3em;
}

.email-background{
  min-height: 500px;
  border-bottom: 1px solid rgba(86,61,124,.2);
  border-right: 1px solid rgba(86,61,124,.2);
  border-top: 1px solid rgba(86,61,124,.2);

}

.email-title{
  font-weight: bold;
  font-size: 1.5em;
  font-family: sans-serif;
  text-decoration: underline;
}

.email-header-item{
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.email-content{
  background-color: white;
  min-width: 70px;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 500px;
}

.email-body{
    padding-top: 2em;
}

.email-subject{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: bold;
}

.email-preview{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.4;

}
.email:hover{
  box-shadow: 5px 0 5px grey;
}
.email-list{
  padding-bottom:1em;
  cursor: pointer;
  min-height:500px;
}
.placeholder-email-content{
  text-align: center;
}

.navbar-inverse .navbar-nav>li>a{
    font-weight: bold;
    color: white;
}

.footer{
    background-color: #222222;
    color: white;
    font-weight: bold;

}

.footer-text{
    padding-top: 1em;
    text-align: center;
}

.reply-button{
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1em 0.75em 1em 0.75em;
}

.reply-text{
  padding-top: 2em;
}
